* {
	box-sizing: border-box;
	font-family: "微软雅黑";
}

body {
	background: #E9EAEC;
}

.regContent {
	background: #E9EAEC;
}
.regContent .reBox{
	width: 1150px;
	height: 630px;
	margin: 40px auto;
	border: 1px solid #ccc;
	background: #fff;
}
.regContent .reBox .left{
	float: left;
	width: 700px;
	height: 100%;
	border: 1px solid #ccc;
	border-width: 0 1px 0 0;
}
.reBox .left input[type='text'],
.reBox .left input[type='password']{
	width: 400px;
	height: 35px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin: 25px 0;
	padding: 0 15px;
	font-size: 15px;
}
.reBox .left input[type='text']:focus,
.reBox .left input[type='password']:focus{
	border: 1px solid #5fbdd3;
}
.reBox .left .ret,
.reBox .left .pwd{
	width: 100%;
	height: 100%;
}
.reBox .left .pwd{
	display: none;
}
.reBox .left .ret .banner,
.reBox .left .pwd .banner{
	width: 100%;
	height: 74px;
	margin-top:40px ;
}
.reBox .left .ret .banner{
	background: url(../images/ret.jpg) no-repeat center;
}

.reBox .left .ret form{
	position: relative;
	padding: 0 147px ;
}
.reBox .left .ret form label{
	position: absolute;
	left: 133px;
	display: inline-block;
	color: #EC8484;
	height: 35px;
	line-height: 35px;
	font-size: 15px;
}
.reBox .left .ret form label#phoneNumber-error{
	top: 63px;
}
.reBox .left .ret form label#verify_num-error{
	top: 148px;
}
.reBox .left .ret form label#verification_Code-error{
	top: 236px;
}
.reBox .left .ret form label:before{
	display: inline-block;
	content: "!";
	color: #fff;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #EC8484;
	text-align: center;
	line-height: 20px;
	margin-left: 15px;
	margin-right: 10px;
}
.reBox .left .ret form #verify_num,
.reBox .left .ret form #verification_Code{
	width: 300px;
}
.reBox .left .ret form .codeImg{
	position: relative;
	top: 13px;
	display: inline-block;
	height: 35px;
	width: 85px;
	margin-left: 15px;
}
.reBox .left .ret form .codeImg img{
	width: 100%;
	height: 100%;
}
.reBox .left .ret form .codeBtn{
	width: 85px;
	height: 35px;
	background:#5FBDD3;
	border-radius: 3px;
	color: #fff;
	margin-left: 15px;
	cursor: pointer;
}
.reBox .left .ret form #retrieveSubmit,
.reBox .left .pwd form #retrieveSubmit2{
	width: 200px;
	height: 40px;
	border-radius: 5px;
	background: #5FBDD3;
	color: #fff;
	margin-top: 60px;
	cursor: pointer;
}
.reBox .left .pwd .banner{
	background: url(../images/ret1.jpg) no-repeat center;
}

.reBox .left .pwd form{
	position: relative;
	padding: 0 147px ;
}
.reBox .left .pwd form label{
	position: absolute;
	left: 133px;
	display: inline-block;
	color: #EC8484;
	height: 35px;
	line-height: 35px;
	font-size: 15px;
}
.reBox .left .pwd form label:first-of-type{
	top: 60px;
}
.reBox .left .pwd form label:last-of-type{
	top: 145px;
}
.reBox .left .pwd form label:before{
	display: inline-block;
	content: "!";
	color: #fff;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #EC8484;
	text-align: center;
	line-height: 20px;
	margin-left: 15px;
	margin-right: 10px;
}
.reBox .left .pwd form input[type='password']{
	font-size: 12px;
	padding: 0 100px;
}
.reBox .left .pwd form i{
	position: absolute;
	left: 160px;
	top: 32px;
	display: inline-block;
	font-size: 14px;
	color: #555;
}
.reBox .left .pwd form i:last-of-type{
	top: 116px;
}
.regContent .reBox .right{
	float: left;
	height: 100%;
	width: 448px;
	background: url(../images/register.gif) no-repeat center;
}
button.disabled{
	background: #999999 !important;
	cursor: not-allowed !important;
}
